<nav class="nav-main">
	<span class="nav-brand full-only"><img src="assets/wimvector.png">Web Informatics and Mapping Repository Dashboard</span>
</nav>
	<!--<div *ngIf="isLoggedIn" class="logout">
			<button (click)="logout()">Log Out</button>
	</div>-->
<div class="loginContainer">
	<div *ngIf="!isLoggedIn" class="login">
			<div *ngIf="errorMessage" id="errorMessage">Username or Password is incorrect.</div>
			<label>Username:</label><input id="userInput" placeholder="Username"><br>
			<label>Password:</label><input type="password" id="passInput" placeholder="Password"><br>
			<button (click)="login()">Log In</button>
	</div>
</div>
<mat-accordion *ngIf="isLoggedIn" >

	<mat-expansion-panel id="repoAccordion">
		<mat-expansion-panel-header>
			<mat-panel-title>Repos with Code.json file</mat-panel-title>
			<mat-panel-description>
				Count: {{countWithCode}}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<!-- filter -->
		<div class="example-header">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		<!-- Table of Repos with Code.json file-->
		<div class="example-container mat-elevation-z8">
			<mat-table #withCodeTable="matSort" [dataSource]="dataSourceWithCode" matSort>

				<!-- repo name -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Repo Name</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.name}} </mat-cell>
				</ng-container>

				<!-- date repo created -->
				<ng-container matColumnDef="created_at">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.created_at | date: 'MM/dd/yyyy'}} </mat-cell>
				</ng-container>

				<!-- description -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.description}} </mat-cell>
				</ng-container>

				<!-- homepage url -->
				<ng-container matColumnDef="liveurl">
					<mat-header-cell *matHeaderCellDef mat-sort-header>URL</mat-header-cell>
					<mat-cell *matCellDef="let repo">
						<a [href]="repo.liveurl" target="_blank">{{repo.liveurl}}</a>
					</mat-cell>
				</ng-container>

				<!-- contact person -->
				<ng-container matColumnDef="contact">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Contact</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.contact}} </mat-cell>
				</ng-container>

				<!-- status -->
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.status}} </mat-cell>
				</ng-container>

				<!-- language -->
				<ng-container matColumnDef="language">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Language</mat-header-cell>
					<mat-cell *matCellDef="let repo"> {{repo.language}} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumnsWith"></mat-header-row>
				<mat-row *matRowDef="let repo; columns: displayedColumnsWith;"></mat-row>
			</mat-table>
		</div>

	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Repos with out Code.json file</mat-panel-title>
			<mat-panel-description>
				Count: {{ReposWithOutCodejson.length}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<!-- Table of Repos without Code.json file-->
		<mat-table #withoutCodeTable="matSort" [dataSource]="dataSourceWithOutCode" matSort>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Repo Name</mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="created_at">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.created_at | date: 'MM/dd/yyyy'}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumnsWithOut"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumnsWithOut;"></mat-row>
		</mat-table>

	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Repos with Vulnerabilities</mat-panel-title>
			<mat-panel-description>
				Count: {{countWithVuln}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="example-header">
			<mat-form-field>
				<input matInput (keyup)="applyVulnFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>

		<!-- Table of Repos without Code.json file-->
		<mat-table #vulnTable="matSort" [dataSource]="dataSourceVuln" matSort>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Repo Name</mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="vulnerabilityAlerts">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Number of Vulnerabilities</mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.vulnerabilityAlerts}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="vulnerablePackages">
				<mat-header-cell *matHeaderCellDef>Packages</mat-header-cell>
				<mat-cell *matCellDef="let element"> 
						<mat-cell *ngFor="let pack of element.packages">
							{{pack.name}}<br>
						</mat-cell>
					</mat-cell>
			</ng-container>
			<ng-container matColumnDef="affectedRange">
				<mat-header-cell *matHeaderCellDef>Affected Version(s)</mat-header-cell>
				<mat-cell *matCellDef="let element"> 
					<mat-cell *ngFor="let pack of element.packages">
						{{pack.affectedRange}}<br>
					</mat-cell>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="fixedIn">
				<mat-header-cell *matHeaderCellDef>Fixed Version(s)</mat-header-cell>
				<mat-cell *matCellDef="let element"> 
						<mat-cell *ngFor="let pack of element.packages">
							{{pack.fixedIn}}<br>
						</mat-cell>
					</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumnsVuln"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumnsVuln;"></mat-row>
		</mat-table>

	</mat-expansion-panel>

</mat-accordion>